@import "src/assets/styles/colors";

.countries-list {
  &__element {
    min-height: 20px;
    font-size: 20px;
    padding: 12px 32px;
    transition: font-size 0.75s, box-shadow 0.75s, background-color 0.75s;

    &:not(:last-child) {
      border-bottom: 3px solid $color_grey_border;
    }

    &:hover {
      box-shadow: 0px 10px 30px -12px $color_grey_border;
      font-size: 22px;
      background-color: $color_grey_focus;
    }
  }

  &__flag {
    width: 32px;
  }
}
