<div class="countries-list">
  <h2 class="section-title">
    Region: {{ continentsListService.selectedRegion }}
  </h2>

  <div class="content">
    <a
      *ngFor="let country of continentsListService.countriesList | async"
      [routerLink]="'/country/' + country.name.official"
      class="countries-list__element d-flex"
    >
      <app-country-flag
        class="countries-list__flag me-3"
        [country]="country"
      ></app-country-flag>
      {{ country | countryName }}
    </a>
  </div>
</div>
